# нормализовать текстовые файлы в LF при коммите
* text=auto
*.js text
*.ts text
*.json text
*.css text
*.scss text
*.html text
*.md text
# проверить, что в файлах YAML и файлах рабочих процессов используется символ LF
.github/workflows/* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
