 @use 'variables' as *;

 .chart {
   flex-direction: column;
   gap: 16px;
   width: 100%;
   min-height: 350px;
   background: var(--white-color);
   border: 1px solid var(--body-color);
   border-radius: var(--card-radius);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

   &__header {
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     min-height: 40px;
     padding-top: var(--max-gap);
     padding-right: var(--max-gap);
     padding-left: var(--max-gap);

     .chart__title {
       margin: 0;
       font-size: var(--h2-font);
     }

     .chart__sort {
       justify-content: space-between;
       align-items: center;
       width: 30%;
       min-height: 35px;
       padding: 5px 15px;
       color: var(--grey-color);
       font-size: var(--body-font);
       background-color: var(--stats-btn-color);
       border-radius: var(--button-radius);

       .chart__sort-btn {
         width: 30%;
         min-height: 25px;
         padding: 8px 10px;
         text-align: center;
         border-radius: var(--button-radius);
         transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

         &:focus {
           color: var(--focus-color);
           background-color: var(--white-color);
         }

         &:active {
           color: var(--active-color);
           background-color: var(--white-color);
         }

         @media (max-width: #{$desktop}) {
           padding: 5px 3px;
         }

         @media (max-width: #{$tablet}) {
           padding: 5px;
         }
       }

       &__canvas {
         display: block;
         width: 100%;
         height: 180px;
         max-height: 350px;
         margin: 0 auto;
         padding: var(--max-gap);
         background: transparent;
       }
     }
   }
 }