@use 'variables' as *;

.header {
  grid-area: header;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  padding: var(--max-gap);

  .header__burger {
    width: 32px;
    height: 32px;
    color: var(--black-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      color: var(--focus-color);
    }

    &:hover {
      color: var(--hover-color);
    }

    &:active {
      color: var(---color);
    }

    @media (max-width: #{$desktop}) {
      display: none;
    }

    @media (max-width: #{$tablet}) {
      display: none;
    }

    @media (max-width: #{$mobile}) {
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  .header__burger-icon {
    align-self: center;
    width: 20px;
    height: 20px;
  }

  .header__title {
    margin: 0;
    font-size: var(--h1-font);
  }

  .header__search {
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 46px;
    padding: var(--body-font);
    color: var(--grey-color);
    background-color: var(--white-color);
    border-radius: var(--max-gap);

    .header__search-btn {

      .header__search-icon,
      .header__exit-icon {
        width: 18px;
        height: 18px;
        color: currentColor;
        transition: color 0.3s ease-in-out;

        @media (max-width: #{$tablet}) {
          width: 16px;
          height: 16px;
        }

        &:focus {
          color: var(--focus-color);
        }

        &:hover {
          color: var(--hover-color);
        }

        &:active {
          color: var(--active-color);
        }
      }
    }
  }

  .header__lang-switch {
    justify-content: flex-end;
    align-items: center;
    gap: var(--body-font);
    width: 10%;

    .lang-btn {
      font-weight: bold;
      font-size: var(--body-font);
      transition: color 0.3s ease-in-out;

      @media (max-width: #{$tablet}) {
        font-size: 14px;
      }

      @media (max-width: #{$mobile}) {
        display: none;
      }

      &:focus {
        color: var(--focus-color);
      }

      &:hover {
        color: var(--hover-color);
      }

      &:active {
        color: var(--active-color);
      }
    }
  }
}