@use 'variables' as *;

// Styles for registration full-page section
.register-section {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--body-color);

  .register {
    z-index: 2;
    display: flex;
    width: 100vw;
    margin: 0 auto;
  }
}