// Тень для полубублика
.stats {
  flex-direction: column;
  gap: var(--max-gap);
  width: 100%;
  min-height: 350px;

  &__title {
    margin: 0;
    font-size: var(--h2-font);
  }

  &__list {
    align-items: center;

    &--amount {
      align-items: center;
      justify-content: space-evenly;
      gap: var(--max-gap);
      width: 100%;
      min-height: 120px;
      padding: var(--max-gap);
      background-color: var(--white-color);
      border: 1px solid var(--body-color);
      border-radius: var(--card-radius);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .stats__item {
      position: relative;
      justify-content: space-between;
      align-items: center;
      gap: var(--small-font);
      width: 40%;
      min-height: 80px;
      padding: var(--min-gap) var(--max-gap);

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10%;
        width: 1px;
        height: 100%;
        background: var(--body-color);
        transform: translateX(50%);
      }

      .stats__icon-wrapper {
        width: 45px;
        height: 45px;
        padding: 4px;
        border-radius: var(--card-radius);

        &--purple {
          background-color: var(--hover-color);
        }

        &--red {
          background-color: var(--total-bg);
        }

        .stats__icon {
          width: 35px;
          height: 35px;
          flex-shrink: 0;

          &--purple {
            color: var(--focus-color);
            stroke: var(--hover-color);
          }

          &--red {
            color: var(--total-color);
            stroke: var(--total-bg);
          }
        }
      }

      .stats__label {
        margin: 0;
        font-size: var(--h4-font);
        font-weight: 700;
      }

      .stats__value {
        margin-left: auto;
        font-size: var(--h1-font);
        font-weight: 700;

        &--purple {
          color: var(--focus-color);
        }

        &--red {
          color: var(--total-color);
        }
      }
    }

    &--feature {
      gap: var(--max-gap);
      width: 100%;
      min-height: 120px;

      .stats__group {
        flex-direction: column;
        gap: var(--min-gap);
        width: 50%;
        padding: var(--max-gap);
        background-color: var(--white-color);
        border: 1px solid var(--body-color);
        border-radius: var(--card-radius);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .stats__header {
          align-items: center;
          justify-content: flex-start;
          gap: var(--small-font);
          width: 100%;

          .stats__icon {
            width: 40px;
            height: 40px;
          }

          .stats__header-title {
            margin: 0;
            font-size: var(--h4-font);
          }

          .stats__header-btns {
            align-items: flex-start;
            justify-content: flex-start;
            gap: var(--max-gap);
            margin-left: auto;

            .stats__btn {
              width: 20px;
              height: 20px;
              padding: 3px 5px;
              border-radius: 50%;
              background-color: var(--grey-color);
              color: var(--white-color);
              font-size: var(--small-font);
              text-align: center;
              transition: background-color 0.3s ease-in-out;

              &:focus-visible {
                background-color: var(--focus-color);
              }

              &:hover {
                background-color: var(--hover-color);
              }

              &:active {
                background-color: var(--active-color);
              }
            }
          }
        }

        .stats__group-content {
          position: relative;
          flex-direction: column;
          gap: var(--min-gap);
          width: 100%;
          min-height: 180px;
        }

        .stats__chart-canvas {
          width: 100%;
          height: 130px;
          max-height: 150px;
          margin-bottom: 16px;
        }

        #statsChartType canvas,
        #statsChartStatus canvas {
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
        }

        .stats__list {
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 12px;
          width: 100%;

          .stat__card {
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--min-gap);
            max-width: 80px;
            height: 32px;
            font-size: var(--small-font);
            color: var(--grey-color);

            .stat__color-box {
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              border: 1px solid var(--body-color);
            }

            .stat__value {
              margin: 0;
              color: var(--black-color);
            }

            .stat__title {
              width: 80px;
              margin: 0;
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}