.error-table {
  position: relative;
  max-width: 100%;
  min-height: 350px;
  padding: var(--max-gap);
  overflow-x: auto;
  background-color: var(--white-color);
  border-radius: var(--card-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--body-color);

  &__title {
    font-size: var(--h2-font);
    margin: 0;
    margin-bottom: var(--max-gap);
  }

  &__table {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: auto;
    font-size: var(--body-font);

    .error-table__head {
      display: grid;
      grid-template-columns: 16% 16% 10% 16% 16% 16% 10%;
      align-items: center;
      justify-items: flex-start;
      width: 100%;
      min-height: 32px;
      padding: var(--max-gap) var(--min-gap);
      text-align: left;
      font-size: var(--small-font);
      // font-weight: 500;
      border-top: 1px solid var(--body-color);
      border-bottom: 1px solid var(--body-color);

      .error-table__btn-sort {
        justify-content: flex-start;
        align-items: center;
        transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;

        &:hover {
          color: var(--hover-color);
          fill: var(--hover-color);
        }

        &:focus {
          color: var(--focus-color);
          fill: var(--focus-color);
        }

        &:active {
          color: var(--active-color);
          fill: var(--active-color);
        }
      }

      .sort-icon {
        width: 18px;
        height: 18px;
      }

      .error-table__cell--actions {
        font-weight: 500;
        line-height: 1.15;
      }
    }

    .error-table__body {

      .error-table__row {
        display: grid;
        grid-template-columns: 16% 16% 10% 16% 16% 16% 10%;
        align-items: center;
        padding: var(--max-gap) var(--min-gap);
        font-size: var(--small-font);
        border-bottom: 1px solid var(--body-color);
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
          border-bottom: 2px solid var(--hover-color);
        }

        .error-table__cell {
          text-align: left;
          color: var(--black-color);

          &--id,
          &--firstseen,
          &--lastseen {
            color: var(--grey-color);
          }

          &--data,
          &--status {
            font-weight: 600;
          }

          &--actions {
            position: relative;
            justify-content: flex-end;
            align-items: start;
            gap: var(--max-gap);
            width: 100%;

            .error-table__dropdown-btn {
              align-items: center;
              justify-content: center;
              min-width: 38px;
              min-height: 38px;
              padding: var(--min-gap);
              font-size: 22px;
              font-weight: 700;
              transition: color 0.3s ease-in-out;

              &:hover,
              &:focus {
                color: var(--focus-color);
              }

              &:active {
                color: var(--active-color);
              }
            }

            .error-table__dropdown-menu {
              position: absolute;
              z-index: 10;
              top: -26px;
              right: 10px;
              display: none;
              flex-direction: column;
              padding: var(--min-gap);
              min-width: 110px;
              background: var(--white-color);
              border-radius: var(--card-radius);
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
            }

            .error-table__btn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: var(--min-gap);
              min-width: 90px;
              min-height: 32px;
              padding: 8px 6px;
              color: var(--white-color);
              font-size: 12px;
              border-radius: var(--button-radius);
              transition: background-color 0.3s ease-in-out;

              &--edit {
                background-color: var(--focus-color);

                &:hover {
                  background-color: var(--hover-color);
                }

                &:active {
                  background-color: var(--active-color);
                }
              }

              &--delete {
                background-color: var(--total-color);

                &:hover {
                  background-color: var(--total-bg);
                }

                &:active {
                  background-color: var(--total-color);
                }
              }
            }
          }
        }
      }
    }
  }
}