.error-table {
  max-width: 100%;
  min-height: 300px;
  padding: var(--max-gap);
  overflow-x: auto;
  background-color: var(--white-color);
  border-radius: var(--card-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--body-color);

  &__title {
    font-size: var(--h2-font);
    margin: 0;
    margin-bottom: var(--max-gap);
  }

  &__table {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: var(--body-font);

    .error-table__head {
      display: grid;
      grid-template-columns: 20% 20% 20% 18% 22%;
      align-items: flex-end;
      width: 100%;
      min-height: 22px;
      padding: var(--max-gap);
      text-align: left;
      border-top: 1px solid var(--body-color);
      border-bottom: 1px solid var(--body-color);

      &__btn-sort {
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;

        &:hover {
          color: var(--hover-color);
          fill: var(--hover-color);
        }

        &:focus {
          color: var(--focus-color);
          fill: var(--focus-color);
        }

        &:active {
          color: var(--active-color);
          fill: var(--active-color);
        }
      }
    }

    .error-table__body {
      .error-table__row {
        display: grid;
        grid-template-columns: 20% 20% 20% 18% 22%;
        align-items: center;
        padding: var(--max-gap);
        border-bottom: 1px solid var(--body-color);
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
          border-bottom: 2px solid var(--hover-color);
        }

        .error-table__cell {
          text-align: left;
          color: var(--black-color);
          font-size: var(--small-font);

          &--id,
          &--timestamp {
            color: var(--grey-color);
          }


          &--data,
          &--status {
            font-weight: 700;
          }

          &--actions {
            display: flex;
            justify-content: flex-start;
            align-items: start;
            gap: var(--max-gap);
            width: 100%;

            .error-table__btn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: var(--min-gap);
              min-width: 90px; // фиксированная минимальная ширина для стабильности
              min-height: 32px;
              padding: 8px 6px;
              color: var(--white-color);
              font-size: 12px;
              border-radius: var(--button-radius);
              transition: background-color 0.3s ease-in-out;

              &--edit {
                background-color: var(--focus-color);

                &:hover {
                  background-color: var(--hover-color);
                }

                &:active {
                  background-color: var(--active-color);
                }
              }

              &--delete {
                background-color: var(--total-color);

                &:hover {
                  background-color: var(--total-bg);
                }

                &:active {
                  background-color: var(--total-color);
                }
              }
            }
          }
        }
      }
    }
  }
}