:root {
  // Container
  --container-width: 1440px;
  --max-gap: 30px;
  --min-gap: 8px;

  // Breakpoints
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1024px;

  // Fonts
  --h1-font: 36px;
  --h2-font: 28px;
  --h3-font: 24px;
  --h4-font: 20px;
  --body-font: 16px;
  --small-font: 14px;

  // Colors
  --body-color: #dbdcde;
  --white-color: #FFFFFF;
  --black-color: #3A3541;
  --grey-color: #89868d;
  --stats-btn-color: #f4f5f9;
  --stats-text-color: #b4b2b7;
  --focus-color: #9255FD;
  --hover-color: #DECCFE;
  --active-color: #6E39CB;
  --type-color: #2dccff;
  --type-bg: #E0F8FF;
  --type2-color: #EBF4FF;
  --type3-color: #1877F2;
  --type4-color: #4285F4;
  --type5-color: #31e2f975;
  --status-color: #04CE00;
  --status2-color: #D7FFC3;
  --status3-color: #2AC670;
  --status4-color: #34A853;
  --status5-color: #13e75dad;
  --total-color: #f93131;
  --total-bg: #FFDFDF;

  // Radius
  --button-radius: 4px;
  --card-radius: 8px;
}